:root,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #2f2fa2;
  color: rgb(233, 233, 233);
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar button {
  margin: 10px 15px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  background: #f64c72;
}

#content {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  display: flex;
  width: 80%;
  max-width: 700px;
}

.default-text {
  text-align: center;
  font-size: 1.2rem;
}

.list-container {
  background-color: #f64c72;
}

.sorting-btns {
  font-size: 1.5rem;
  background: #99738e;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 7px;
}

.id-sort {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 100px;
}

.post-list {
  margin: none;
}

.posts {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 600px;
  overflow-y: scroll;
}

.posts li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.post-content {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem
}

.post-title {
  font-size: 1.9rem;
}

.music-container {
  background: #f64c72;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.track-btn {
  border: 1px solid #2f2fa2;
  background: inherit;
  border-radius: 10px;
  color: rgb(233, 233, 233);
  padding: 10px;
}

.track-btn:active {
  background: #2f2fa2;
  border: 1px solid #f64c72;
}

.control-btn {
  background: #2f2fa2;
  border: none;
  color: rgb(233, 233, 233);
  padding: 15px;
  border-radius: 5px;
}

.control-btn:active {
  background: #ec2d57;
}

.track-display {
  font-size: 2rem;
}

.track-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.control-container > * {
  margin: 0 10px;
}